/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	color: white;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}

/* Set a style for all buttons */
 .sub {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	position: right;
}

.sub:hover {
	opacity: 0.5;
}

/* Extra styles for the cancel button */
.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #1a1a1a;
	color: white;
  
}

/* Center the image and position the close button */
.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

img.avatar {
	width: 40%;
	border-radius: 50%;
}

.container {
	padding: 16px;
 
}

span.psw {
	float: right;
	padding-top: 16px;

}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Half width */
	height: 100%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top: 60px;
  
}

/* Modal Content/Box */
.modal-content {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
	height: 70%;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: #444;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #ffe5b4;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)} 
	to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
	from {transform: scale(0)} 
	to {transform: scale(1)}
}

/* Changing styles for span and cancel button on extra small screens */
@media screen and (max-width: 800px) {
	span.psw {
    display: block;
    float: none;
  }
  
  .cancelbtn {
    width: 100%;
	color: white;
  }
}

label {
	color: white;
	}
	
.contact {
	margin: auto;
	width: 850px;
	height: 750px;  
	padding: 20px;
	border: transparent;
	overflow: hidden;
	dislpay: block;
	background-color: #222021;
  }
 
@media screen and (max-width: 800px) { 
  .contact {
	margin: 0;
  width: 100%;
  height: auto;  
  padding: 20px;
  border: transparent;
  overflow: hidden;
  dislpay: block;
  }
}
  
select [id=text], select, textarea {
	width: 50%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 16px;
	resize: vertical;
	color: white;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
	
	
@media screen and (max-width: 800px) { 
select [id=text], select, textarea {
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 16px;
	resize: vertical;
	color: white;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
}
}

.contact .float_right {
	margin: auto;
	height: 700px;
	width: 270px;
	border: transparent;
	overflow: hidden;
	dislpay: block;
	float: right;
	text-align: left;
	color: #828282;
	}
	
@media screen and (max-width: 800px) { 
  .contact .float_right {
	margin: 0;
  width: 100%;
  height: auto;  
  padding: 20px;
  border: transparent;
  overflow: hidden;
  dislpay: block;
  }
}
	
.cntct {
	margin: auto;
	width: 850px;
	height: 150px;  
	padding: 20px;
	border: transparent;
	overflow: hidden;
	dislpay: block;
	background-color: transparent;
	color: white;
  }
  
 @media screen and (max-width: 800px) { 
.cntct {
	margin: auto;
	width: 100%;
	height: 150px;  
	padding: 20px;
	border: transparent;
	overflow: hidden;
	dislpay: block;
	background-color: transparent;
	color: white;
  }
 }